.contador input {
    font-size: 1.4rem
}
/* .contador button {
    color: #fff;
    background-color: rgb(73, 18, 18);
    width:50px;
    height:50px;
    border-radius:50px;
    border: none;
    margin: 10px
} */
